@import url('https://fonts.googleapis.com/css?family=Hind');

*, *::before, *::after {
	box-sizing: border-box;
}

html, body {
	height: 100% !important; 
	overflow: hidden !important;
}

body {
	display: flex !important;
	justify-content: center !important;
	align-items: center !important;
	margin: 0 !important;
	color: #ffffff !important;
	background-color: #E8E8E8 !important;
	font-family: 'Hind', sans-serif !important;
	text-transform: uppercase !important;
}

.button{
	color: white !important;
	background: #A80606 !important;
	font-size: 50px !important;
	padding: 10px !important;
	margin: 10px !important;
}

.container {
	position: relative !important;
    line-height: 0 !important;
}

.score {
	position: absolute !important;
	top: 10px !important;
	line-height: 1 !important;
	color: #A80606 !important;
}

.level{
	/* position: absolute; */
	/* top: 5px; */
	line-height: 1 !important;
	color: black !important;
	top: 0.313em !important;
	position: absolute !important;
}

.level span{
	font-size: 3.25rem !important;
}

.score span {
	font-size: 3.25rem !important;
}

.current-score {
	left: 10px !important;
}

.high-score {
	text-align: right !important;
	right: 10px !important;
}

.trigger {
  -webkit-appearance: none !important;
     -moz-appearance: none !important;
          appearance: none !important;
	position: absolute !important;
	width: 80px !important;
	height: 80px !important;
	bottom: 10px !important;
  border: 0 !important;
	border-radius: 50% !important;
  color: inherit !important;
	background-color: #E30000 !important;
	text-align: center !important;
	line-height: 80px !important;
	font-size: 1.25rem !important;
  text-transform: inherit !important;
	cursor: pointer !important;
	-webkit-user-select: none !important;
	   -moz-user-select: none !important;
	    -ms-user-select: none !important;
	        user-select: none !important;
  outline: none !important;

}

.left-trigger {
	left: 10px !important;
}

.right-trigger {
	right: 60px !important;
}

canvas {
	overflow: hidden !important;
	border-radius: 5px !important;
	box-shadow: 0 5px 25px rgba(0, 0, 0, 0.75) !important;
	background-image: url('../img/background-flipper.png') !important;
	background-size: cover !important;
	background-repeat: no-repeat !important;
}

.letter {
	color: #EDEDED !important;
	text-shadow: 2px 2px #C2C2C2 !important;
	font-size: 2.5em !important;
	position: absolute !important;
	top: 145px !important;
}

#c{
	left: 113px !important;
}

#r{
	left: 165px !important;
}

#o{
	left: 211px !important;
}

#u{
	left: 262px !important;
}

#s{
	left: 315px !important;
}

#levelDisplay {
	color: #A80606 !important;
	position: absolute !important;
	top: 30% !important;
	left: 5vw !important;
	font-size: 5em !important;
	transform: translate(0%, -50%) !important;
}

#monthDisplay {
	color: #A80606 !important;
	position: absolute !important;
	top: 70% !important;
	left: 5vw !important;
	font-size: 5em !important;
	transform: translate(0%, -50%) !important;
}

.hidden {
	visibility: hidden !important;
}

.nostyle{
	text-decoration: none !important;
	color: white !important;
}

.definition {
	visibility: hidden !important;
	position: absolute !important;
	top: 50% !important;
	left: 50% !important;
	transform: translate(-50%, -100%) !important;
	font-size: 3em !important;
	color: black !important;
}

.btn_menu{
	bottom: 5% !important;
	right: 30% !important;
	transform: translate(-50%, -100%) !important;
	position: absolute !important;
	border: none !important;
	background-color: #A80606 !important;
	height: 3vh !important;
	border-radius: 5px !important;
}

.btn_menu:hover{
	box-shadow: 5px 5px 5px #A50303 !important;
}

.btn_menu a{
	color: white !important;
	text-decoration: none !important;
	font-size: 1.5em !important;
}

#centr,#regio,#oeuvr,#unive,#scola {
	font-weight: bold !important;
	color: #FF4900 !important;
}

/* responsive scaling, because pinball tables are tall */
@media (min-height: 0px) {
	.container { -webkit-transform: scale(0.25); transform: scale(0.25); }
}
@media (min-height: 400px) {
	.container { -webkit-transform: scale(0.5); transform: scale(0.5); }
}
@media (min-height: 600px) {
	.container { -webkit-transform: scale(0.75); transform: scale(0.75); }
}
@media (min-height: 800px) {
	.container { -webkit-transform: scale(1); transform: scale(1); }
}
